<ul class="card-list">
  <% posts.forEach(function(post, i){ %>
  <li>
    <a class="card" href="<%- url_for(post.path) %>">
      <%
        var banner = post.thumbnail
        if (!/^\\/.test(banner)) {
          banner = post.path + banner
        }
      %> 
      <div class="thumbnail" style="background-image: url('<%= url_for(banner) %>')"></div>
      <header>
        <p><%- post.subtitle || '' %></p>
        <h3 title="<%= post.title %>"><%- post.title %></h3>
      </header>
    </a>
  </li>
  <% }) %>
</ul>
