
<div class="contact-main">
	<div class="container">
    <div class="row">
			<div class="col-md-8 col-sm-12">
				<div
					class="landscape"
					style="background-image: url(<%- url_for('/assets/img/landscape.jpg')%>);"
			  ></div>
			</div>
			<div class="col-md-4 col-sm-12">
				<h1>CONTACT</h1>
				<address class="margin-bottom-40">
          电话: <%= theme.phone %><br>
          Email: <a href="mailto:<%= theme.email %>"><%= theme.email %></a><br>
          地址：<%= theme.address_1 %><br>
				</address>
				<div
					class="qrcode"
					style="background-image: url(<%- url_for('/assets/img/qrcode.png')%>);"
				></div>
			</div>
		</div>
  </div>
</div>
