<article class="article-main" itemscope itemprop="blogPost">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header>
          <% if (page.subtitle) { %>
            <p><%= page.subtitle %></p>
          <% } %>
          <h1><%= page.title %></h1>
        </header>
      </div>
    </div>
  </div>
  <% if (page.thumbnail) { %>
    <div class="banner" style="background-image: url('<%= url_for(page.thumbnail) %>')">
    </div>
  <% } %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <%- page.content %>
        </div>
        <%- partial('_partial/post/nav', { post: page }) %>
      </div>
    </div>
  </div>
</article>
