<article class="article-main" itemscope itemprop="blogPost">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header>
          <% if (page.subtitle) { %>
            <p><%= page.subtitle %></p>
          <% } %>
          <h1><%= page.title %></h1>
        </header>
      </div>
    </div>
  </div>
  <div class="container">
  <% if (page.thumbnail) { %>
    <%
      var banner = page.thumbnail
      if (!/^\\/.test(banner)) {
        banner = page.path + banner
      }
    %> 
    <div class="banner" style="background-image: url('<%= url_for(banner) %>')">
    </div>
  <% } %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <%- page.content %>
        </div>
        <%- partial('_partial/post/nav', { post: page }) %>
      </div>
    </div>
  </div>
</article>
